.main .author-info {
    display: grid;
    grid-template-columns: 68px 1fr;
    grid-template-rows: 1fr;
    margin: 18px;
    padding: 12px;
    background-color: #eff;
}

.main .author-info img {
    width: 100%;
}

.main .author-info .author-main {
    margin-left: 12px;
}


.main .author-info strong {
    color: #333;
}

.main .author-info h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.main .author-info p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 0.8em;
    font-style: italic;
    color: #333;
}