.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 2px solid #aaa;
}

.main {
    grid-area: main;
    margin: 32px;
    font-size: 1.2em;
    overflow: auto;
}

.main h2 {
    display: inline;
}

.main strong {
    color: #c33;
}

.main u {
    color: #3c6;
}

.main em {
    color: #63c;
}

@media(max-width: 901px) {
    .main {
        grid-area: main;
        margin: 32px;
        font-size: 1.2em;
    }
}

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    font-size: 12px;
}