<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            Travel App
        </header>

        <main>
            <section>
                Upcoming Trips
            </section>
        </main>

        <footer>
            Footer
        </footer>

    </body>

    <script>
        // webpack service worker config
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</html>
