<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <header>
            <h1>Travel App</h1>
        </header>

        <main>
            <div id="main-container">
                <section id="new-trip">
                    <button onclick="Client.displayNewTripForm()">&#x2b; Add Trip</button>
                    <div id="new-trip-form">
                        <h3>New Trip</h3>
                        <div class="input">
                            <label for="city-input">City</label>
                            <input type="text" id="city-input" placeholder="enter city name here">
                        </div>
                        <div class="input">
                            <label for="date-input">Date</label>
                            <input type="date" id="date-input">
                        </div>
                        <div>
                            <button id="new-trip-form-submit" onclick="Client.createNewTrip()">Confirm</button>
                            <button id="new-trip-form-cancel" onclick="Client.hideNewTripForm()">&#x2715; Cancel</button>
                        </div>
                    </div>
                </section>
                <section id="upcoming-trips">
                    <h2>Upcoming Trips</h2>
                    <div id="trips-container">
                        <div class="trip-container">
                            <div class="image-container">
                                <img src="https://pixabay.com/get/g5129233fc08c813280e1df475192e47adb9938abdfc27a2a70da15790beef63e99f6acb1725117487127d5d27106ba46ac362366ebe572b57b9c3304cb6f7eb7_640.jpg">
                            </div>
                            <div class="trip-info-container">
                                <h3>My trip to: Paris</h3>
                                <h3>Departing on: 2021-03-15</h3>
                                <hr>
                                <p><em>15 days away</em></p>
                                <h4>Weather forecast:</h4>
                                <p>high 12&#x2103;, low 3&#x2103;</p>
                                <p>relative humidity 55&percnt;, precipitation none</p>
                                <button>Remove Trip</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <p>Udacity Frontend Travel-App Project</p>
        </footer>

        <script>
            // webpack service worker config
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
